@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');
/*BARRA DI NAVIGAZIONE*/
header {
    position:fixed;
    background-color: #fffacd; /*#a26360; */   
    width: 100%;
    top:0;
    left:0;
    height: 90px;
    font-family: 'Nuosu SIL', serif;
    border-bottom: 3px solid #f6e1cf;
}
/* ------------------------------------------- */
header h1 {
    font-size: 1.5em;
    vertical-align: middle;
    width: 35%;
    margin-left:30px;
    position: fixed;
}
/* ------------------------------------------- */
.button{ /* NON SERVE ?? */
    text-decoration: underline;
    color: black;
    border-radius: 2px; 
}
/* ------------------------------------------- */
nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    width: 65%;
    margin-right: 30px;
    font-family: 'Nuosu SIL', serif;
}
/* ------------------------------------------- */
nav ul li {
    display: inline-block;
    padding:3px;
    line-height: 1.5em;
    font-family: 'Nuosu SIL', serif;
    font-weight: bold;
}
/* ------------------------------------------- */
/*CORPO DI TESTO*/
/* ------------------------------------------- */
body {
    margin-top: 70px;
    margin-left: 0;
    width: 100%;
    font-family: 'Nuosu SIL', serif;
}
/* ------------------------------------------- */
.containerP1, .containerP2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding:30px;
}
/* ------------------------------------------- */
.container-key{
        padding: 30px;
        max-height: 100vh;
        overflow-y: scroll;
}
/* ------------------------------------------- */
/* webkit sono estensioni per la fruibilità su Chrome e Safari IO TOGLIEREI */
::-webkit-scrollbar {
    width: 20px;
}
/* ------------------------------------------- */  
  /* Track * webkit sono estensioni per la fruibilità su Chrome e Safari  IO TOGLIEREI */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* ------------------------------------------- */  
  /* Handle * webkit sono estensioni per la fruibilità su Chrome e Safari IO TOGLIEREI*/
  ::-webkit-scrollbar-thumb {
    background: #a26360;
}
/* ------------------------------------------- */  
.container-legenda{
        background-color: #fbf0e7; /*  rgba(255, 255, 255, 0.692);*/
        width: 40%;
        height: 60%;
        text-align: center;
        border: 2px solid #edbb92;/*   rgb(46, 46, 46);*/
        margin-left: 29%;
        margin-right: 20%;
        /*  max-width: 275px;*/
        padding: 30px;
        border-radius:30px;
}
/* ------------------------------------------- */
.container-legenda h5 {
    margin-top: 0px;
}
/* ------------------------------------------- */
.container {
    padding: 10px;
    top:0;
    left:0;
}
/* ------------------------------------------- */
button {
    background-color: antiquewhite; /*green; #a26360; */
    font-family: 'Nuosu SIL', serif;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border-radius:10px;
}
/* ------------------------------------------- */
button:active {
    background-color: #edbb92; /*#a26360; green */
}
/* ------------------------------------------- */
#Intro {
    background-color: antiquewhite; /*white;#d4a29c*/
    padding: 30px;
    border-bottom: 1px solid black;
    text-align:center;
}
/* ------------------------------------------- */
#Pag14 {
    background-color: #fffacd; /*  antiquewhite; #e8b298*/
    border-bottom: 1px solid black;
}
/* ------------------------------------------- */
#Pag15 {
    background-color: #fffacd; /* antiquewhite#edcc8b*/
    border-bottom: 1px solid black;
}
/* ------------------------------------------- */
#Keywords { /* glossario */
    background-color: #f6e1cf; /*white; #bdd1c5;*/
    border-bottom: 1px solid black;
}
/* ------------------------------------------- */
#Info { /*bibliografia */
    background-color: antiquewhite;  /*orange; #9daaa2; */
    padding: 30px;
}

/* ------------------------------------------- */
.titolo{ 
    grid-area: 1 / 1 / 2 / 3; 
    position: relative;
}
/* ------------------------------------------- */
.img-prolusione { 
    grid-area: 2 / 1 / 3 / 2;
 }
/* ------------------------------------------- */
.img-prolusione {
    display: inline-block;
}
/* ------------------------------------------- */
.testo-fr {
    grid-area: 2 / 2 / 3 / 3;
    padding: 10px;
    border: 2px solid #edbb92;
    background-color: rgba(235, 232, 232, 0.493);
    width: 90%; 
}
/* ------------------------------------------- */
.testo-it{
    grid-area: 3 / 2;
}
/* ------------------------------------------- */
.hidden{
    display: none;
}
/* ------------------------------------------- */
/*  **************** per TEMPLATES *********** */
/* ------------------------------------------- */
/* ------------------------------------------- */
.correzioni {
    color: red; /*grey*/
	background-color: white;
}
/* ------------------------------------------- */
.cancellazioni {
    text-decoration: line-through;
	color: white; 
	background-color: black;
}
/* ------------------------------------------- */
.aggiunte_lat { /* ???? */
	color: #008aeb; /* white blue */ /* non può essere white */
	/*  background-color: blue;*/
}
/* ------------------------------------------- */
.abbreviazioni { /* colore arancione */
    color: #ff7514; /*#770123; rgb(215, 140, 0)*/
	/* background-color: blue; */
}
/* ------------------------------------------- */
.orgreg { /* colore  */
    color:#0FF /*#770123; rgb(215, 140, 0)*/
	/* background-color: blue; */
}
/* ------------------------------------------- */
.corresp {
	/*color: #770123; */
    background-color: rgb(96, 223, 96);
}
/* ------------------------------------------- */
.glottonimi {
    color: brown;
	/*background-color: grey; */
    text-decoration: underline;
}
/* ------------------------------------------- */
.toponimi {
    color:white;
	background-color: #F0C; 
    /*text-decoration: underline; */
}
/* ------------------------------------------- */
.sottolineato {
    text-decoration: underline;
}
/* ------------------------------------------- */
.termini {
    background-color: yellow;
	font-weight:bolder;    
}
/* ------------------------------------------- */
.gap { /* ANCORA NON AGGIUNTO A XSL */
    background-color: purple;
    color: white;
}

